@import url("./main.css");

* {
	margin: 0;
	padding: 0;
	/*box-sizing: content-box;*/
	box-sizing: border-box;
	font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
	min-height: 100vh;
	max-height: 100vh;
}

body {
	position: relative;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: #171d25;
	background-color: #16181c;
}

header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px;
	grid-row: 1;
	font-size: 0px;

	h2,
	.toggle-stylized,
	span {
		display: inline-block;
		font-size: 24px;
	}

	a {
		font-size: 16px;
	}

	h2,
	a,
	span {
		font-family: 'UnderWave';
		text-transform: capitalize;
		text-decoration: none;
		transition: .1s all ease-in-out;
		color: white;

		&.active {
			color: #fa1e4e;
		}

		&:hover {
			cursor: pointer;
			color: #fa1e4e;
		}
	}

	input {
		margin: 0px 6px;
		zoom: 1.9;
		rotate: 45deg;
	}

	.sync-btn-cont {

		span,
		a {
			font-size: 16px;
			margin-left: 12px;
		}
	}
}

main {
	grid-row: 2;
}

footer {
	grid-row: 3;
	width: 100%;
	height: 60px;
	background-color: #171d25;
	margin: 0 auto .5rem auto;

	.flex-row {
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: .5rem auto;

		ol {
			font-size: 0px;

			li {
				display: inline-block;
				font-size: 20px;
				font-weight: bold;
				color: #8f9ca7;
				margin-right: .5rem;
			}
		}
	}
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;

	&:hover {
		color: #fa1e4e;
	}
}

#game-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 12px 12px 12px 0;

	.game-item {
		position: relative;
		width: 600px;
		width: 200px;
		aspect-ratio: 2 / 3;
		background-color: #333c47;
		margin-left: 24px;
		margin-bottom: 12px;
		border-radius: 12px;
		padding: 12px;
		cursor: pointer;

		h3 {
			position: absolute;
			top: 20%;
			width: 150px;
			font-family: 'Underwave';
			text-transform: capitalize;

			&:hover {
				cursor: pointer;
				color: #fa1e4e;
			}
		}

	}
}

.game-item {
	width: 200px;
	height: 300px;
	background-color: #333c47;
	/*border: 1px solid #ccc;*/
	cursor: pointer;
	position: relative;

	h3 {
		transition: .12s all ease-in-out;
	}

	&:hover {
		background-color: #333c47a1 !important;

		.edit_lib_entry {
			opacity: 100;
		}
	}

	p {
		position: absolute;
		bottom: 0;
		right: 0;
	}


	.edit_lib_entry {
		transition: .2s all ease-in-out;
		position: absolute;
		top: 12px;
		right: 12px;
		border-radius: 6px;
		font-size: 18px;
		padding: 4px 6px;
		opacity: 0;
		margin-right: 2px;
	}

	p {
		text-align: center;
		margin: 10px;
	}
}

.game-library {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.game-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.game-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.popup-content {
	background-color: #333c47;
	margin: 100px auto;
	padding: 20px;
	width: 80%;
	max-width: 600px;
	display: grid;
	grid-template-areas: 'fdn fdrd' 'fdd fdd' 'fddev fdpub' 'fdg fdg' 'fdf fdf' 'fdt fdt' 'fdl fdl';
	grid-gap: 12px;
	align-items: center;

	.fd-name {
		grid-area: fdn;
		font-size: 32px;
		font-weight: bold;
	}

	.fd-description {
		grid-area: fdd;
	}

	.fd-developers {
		grid-area: fddev;
	}

	.fd-publishers {
		grid-area: fdpub;
	}

	.fd-releaseDate {
		grid-area: fdrd;
		text-align: right;
	}

	.fd-genres {
		grid-area: fdg;
	}

	.fd-features {
		grid-area: fdf;
	}

	.fd-tags {
		grid-area: fdt;
	}

	.fd-links {
		grid-area: fdl;
	}

	.fd-genres,
	.fd-features,
	.fd-tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		span {
			margin: 0 2px 4px 0;
			background-color: #181e26;
			padding: 8px 8px 12px 8px;
			border-radius: 12px;
		}
	}
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

.library-sidebar {
	width: 275px;
	margin: 0 6px 0 6px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto 1fr;
	grid-template-areas: "sbh" "ls" "fs" "cl";
	/*overflow: hidden;*/

	.sidebar-header {
		grid-area: sbh;
		display: flex;
		margin: 0 0 6px 0;

		button {
			height: 36px;
			border: none;
			cursor: pointer;
			font-size: 18px;
			aspect-ratio: 1/1;

			&:last-child {
				margin-left: 6px;
			}
		}

		#library-home-btn {
			width: 100%;
		}

		.library-collection-icon-btn {
			padding: 1px 2px;

			img {
				width: 26px;
			}
		}
	}

	.search-cont{
		background-color: rgb(43, 42, 51);
		margin: 0 0 6px 0;

		.search-icon,
		input,
		button {
			display: inline-block;
			height: 36px;
			font-size: 14px;
			background-color: transparent;
			border: none;
			appearance: none;
			outline: none;
		}

		.search-bar {
			display: flex;
			width: 100%;

			&:focus-within{
				transition: color 0.2s ease-in-out;
				.cancel-search-btn{
					opacity: 1;
				}
			}

			input{
				width: 100%;
				&::placeholder{
					color: transparent;
					transition: color 0.2s ease-in-out;
				}

				&:active,
				&:focus {
					&::placeholder {
						color: #7b8c90;
					}
				}
			}
			.cancel-search-btn{
				opacity: 0;
			}
		}
		.search-icon, button{
			width: 42px;
		}
	}

	.library-selection {
		grid-area: ls;
		display: flex;
		margin-bottom: 8px;

		.library-select {
			width: 100%;
			height: 42px;
			border: none;
			font-size: 18px;
			padding: 0 12px;
		}

		.sort-btn {
			width: 54px;
			height: 42px;
			border: none;
			cursor: pointer;
			margin-left: 4px;
			padding: 1px 2px;

			img {
				width: 26px;
			}
		}
	}

	.filters-section {
		grid-area: fs;
		display: flex;
		background-color: rgb(43, 42, 51);
		position: relative;
		&:hover {
			.filters-card {
				display: block;
			}
		}

		input {
			width: 100%;
			height: 42px;
			border: none;
			font-size: 18px;
			padding: 0 12px;
			margin-right: 4px;

			&::placeholder {
				opacity: 0;
			}

			&:hover {
				&::placeholder {
					opacity: 1;
				}
			}
		}

		.filters-icon-btn {
			width: 54px;
			height: 42px;
			border: none;
			cursor: pointer;
			padding: 1px 2px;
			border-radius: 6px;

			&:hover {
				img {
					width: 30px;
				}
			}

			img {
				width: 26px;
			}
		}

		.filters-card {
			position: absolute;
			display: none;
			left: 390px;
			background-color: #333c47;
			width: 60vw;
			height: 30vh;
			aspect-ratio: 16/9;
			padding: 12px;

			&.floting {
				z-index: 999;
			}
		}
	}

	.collections-container {
		grid-area: cl;
		overflow-y: auto;
		background-color: #262626;

		.txt {
			font-size: 20px;
			margin: 12px 0;
		}

		.collection-header {
			display: flex;

			button {
				height: fit-content;
				padding: 4px 0;

				&.collection-title {
					width: 100%;
					text-align: left;

					.txt {
						margin-left: 12px;

						&.size {
							&::before {
								content: '(';
							}

							&::after {
								content: ')';
							}
						}
					}
				}

				&.active {
					text-transform: uppercase;
				}
			}
		}

		.collections-list {

			&.active {
				height: 0px;
				overflow: hidden;
			}

			button {
				width: -moz-available;
				width: 100%;
				text-align: left;
				font-size: 18px;
				padding: 4px 0 4px 24px;
				border: none;
				margin: 0;
			}
		}
	}

	.group-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:hover{
			background-image: linear-gradient(to right, #292f3b, #282e36);
			.group-pin{
				display: block;
			}
		}
		button{
			text-transform: uppercase;
			background-color: transparent;
			height: 30px;

			&.expand-toggle{
				width: 16px;
				height: 24px;
				color: #fff;
				text-transform: uppercase;
				font-size: 1.4em;
				line-height: 2em;
				letter-spacing: .1em;
				position: relative;
				padding-left: 4px;
				padding-right: 16px;
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: none;
				}

				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 40%;
					right: 0;
					margin: 0 0 -8px;
					background: white;
					border-radius: 2px;
				}

				&:before {
					right: 8px;
					width: 2px;
					height: 15px;
					transition: all 300ms;
					margin-top: -7.5px;
					background: white;
				}

				&:after {
					right: 1px;
					width: 16px;
					height: 3px;
					margin-top: -1.5px;
					background: white;
				}

				&.expanded {
					&:before {
						height: 0;
						margin-top: 0;
					}
				}
			}
			&.load-group-btn{
				width: 100%;
				font-size: 16px;
				text-align: left;
				padding-left: 12px;
			}
			&.group-pin{
				display: none;
				padding-right: 12px;
			}
		}
	}
}


.library-container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	overflow: hidden;
	position: relative;
	width: 100%;

	.new-feed {
		background: rgb(45, 51, 60);
		background: linear-gradient(180deg, #2d333c 0%, #181e26 100%);

		.feed-header {
			text-transform: capitalize;
			padding: 12px 0 0 12px;
		}

		.feed-carausel {
			display: flex;
			font-size: 0px;
			overflow-x: auto;
		}

		.card-cont {
			margin: 12px 0 12px 12px;
			color: #a6a8ab;

			.cont-header {
				display: flex;
				justify-content: space-between;
				align-items: end;
				font-size: 18px;
				margin-bottom: 6px;
				text-transform: capitalize;

				.icon {
					width: 20px;
					height: 20px;
					background-color: #fa1e4e;
					margin-right: 8px;
					border-radius: 4px;
				}

				.date {
					margin: 0 0 0 auto;
				}
			}

			.card {
				width: 275px;
				aspect-ratio: 16/9;
				background-color: #14181d;
				border-radius: 12px;
				cursor: pointer;
				margin-top: 6px;
				transition: .2s all ease;

				&:hover {
					background-color: #2d333c;
				}
			}

			.title {
				width: 275px;
				font-size: 16px;
				margin: 6px 0;
			}

		}
	}

	h1 {
		margin: 0px;
	}

	.collection-page {
		h2 label {
			font-family: 'UnderWave';
			font-size: 24px;
			text-transform: uppercase;
		}
		.coll-label-cont{
			display: flex;
			align-items: center;
			.rename-btn{
				width: 34px;
				font-size: 24px;
			}
			span{
				height: fit-content;
				margin: 0 0 0 4px;
				font-size: 24px;
			}
		}
		.rename-btn{
			width: 45px;
			margin: 0 0 0 4px;
			border-radius: 50%;
			background-color: transparent;
		}
		.filter-btn{
			width: 36px;
			font-size: 22px;
			margin: 0 6px 0 auto;
			background-color: transparent;
		}
		.collection-settings{
			display: flex;
			gap: 5px;
			align-items: center;
			padding: 0 6px;
			background-color: transparent;
			&:hover{
				background-color: #52525e;
			}
			.icon{
				font-size: 18px;
			}
			h3{
				margin: 0 4px;
				font-size: 16px;
			}
		}
		.rename-btn, .filter-btn, .collection-settings{
			font-size: 16px;
		}
		.collection-settings-cont{
			height: 0px;
			transition: .3s all ease-in-out;
			grid-template-columns: repeat(auto-fill, minmax(250px, auto));
			grid-template-columns: repeat(auto-fit, minmax(250px, auto));
			grid-gap: clamp(10px, 2vw, 20px);
			gap: clamp(10px, 2vw, 20px);
			margin: 12px 0 12px 0;
			display: none;
			/*overflow: hidden;*/
			&.active{
				display: grid;
				height: fit-content;
			}

			label{
				text-transform: capitalize;
				margin: 0 0 10px 0;
				color: #7b8c90;
				display: block;
				font-size: 14px;
			}
		}
	}
}
.btn-ctx-dropdown{
	position: relative;

	.dropdown-btn, .dropdown-option{
		width: 100%;
		font-size: 16px;
		text-align: left;
		text-transform: capitalize;
		color: #deefef;
		padding: 10px;
		border-radius: 8px;

		.icon {
			margin-left: auto;
		}
	}
	.btn-cont{
		border-radius: 8px;
		background-color: #2b2a33;
	}
	.order-btn{
		width: clamp(10px, 20%, 44px);
		border-radius: 8px;
	}
	.dropdown-ctx{
		position: absolute;
		width: 100%;
		min-height: 12px;
		background-color: rgb(43, 42, 51);
		margin: 4px 0 0 0;
		padding: 6px;
		border-radius: 8px;
		z-index: 10;

		&.hidden {
			display: none;
		}
	}
	.dropdown-option{

		&.active{
			background-color: red;
		}
	}
}
.library-content {
	overflow-y: auto;
	padding: 0 12px 12px 12px;
	.collections-header {
		display: flex;

		button {
			width: 25px;
			border-radius: 12px;
			margin-left: 12px;
		}
	}

	.container {
		display: flex;
	}

	.collection {
		display: inline-block;
		width: 200px;
		min-height: 200px;
		max-height: 200px;
		background-color: #333c47;
		margin: 20px 12px 0 0;
		padding: 12px;
		border-radius: 6px;
		cursor: pointer;
		transition: .1s all ease-in-out;
		text-align: center;

		&.create-collection-btn{
			background-color: transparent;
			border: 1px solid #cccccc42;
			&:hover{
				border: 1px solid #ccc;

			}
		}

		&:hover {
			transform: scale(1.05);
			span{
				font-size: 30px;
			}
			h3{
				font-size: 22px;
			}
		}

		span{
			font-size: 28px;
		}
		h3{
			font-size: 20px;
			text-transform: capitalize;
			margin-top: 4px;
		}
		p{
			margin-top: 8px;
		}
	}
}

.shelf-dropdown {
	display: flex;
}

.shelf-row {
	width: 100%;
	height: 200px;
	margin: 12px 0 0 0;
	background-color: #333c47;
}

.dialog-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;


	.dialog-header {

		p {
			margin: 4px 0 6px 0;
		}
	}

	input[type="text"] {
		width: 100%;
		height: 46px;
		appearance: none;
		border: none;
		outline: none;
		margin: 6px 0 2px 0;
		padding: 0 12px;
		font-size: 20px;

	}

	.dialog-backdrop {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #090f1a8f;
	}

	.dialog {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #333840;
		border-top: 1px solid white;

		.close-button {
			margin-left: auto;
		}

		.equal {
			padding: 10px 8px;
			gap: 6px;
			margin: 6px 0 12px 0;
			background-color: #3b3f45;
			border-radius: 2px;

			&>div {
				position: relative;
				&:hover{
					p{
						color: white;
					}
				}
			}

			button {
				width: -moz-available;
				width: 100%;
				font-size: 18px;
				padding: 12px;
				border-radius: 2px;
			}

			p {
				font-size: 16px;
				line-height: 24px;
				color: #ebebf599;
				transition: .2s all ease-in-out;
				margin-top: 6px;
				padding: 2px;
			}
		}
	}

	&.new-collection-dialog {
		.dialog {
			width: 675px;
			padding: 12px 10px;
			border-radius: 4px;
			background-color: #25282e;
		}

		input[type="text"] {
			opacity: 0.3;
		}

		button {
			opacity: 0.9;
		}

		input[type="text"],
		button {
			background-image: linear-gradient(to right, #67768a, #4f5a71);
		}

		#collection-title-display{
			font-family: 'UnderWave';
			text-transform: uppercase;
			color: #fa1e4e;
		}

		.checkbox-container{
			margin-left: 12px;
			font-size: 0px;
			label{
				cursor: pointer;
				font-size: 16px;
			}
			input{
				cursor: pointer;
				margin-left: 4px;
			}
		}
	}

	&.settings-dialog {
		.dialog {
			top: 45%;
			width: 60vw;
			aspect-ratio: 16/9;
			display: flex;
			position: relative;

			aside {
				width: 250px;
				padding: 12px;
				background-color: #2a2d34;
			}

			.settings-content {
				width: 100%;
				padding: 12px;
				background-color: #171d25;
				font-size: large;
				overflow-y: auto;
				h2{
					text-transform: capitalize;
					margin: 10px 0 20px 0;
				}
				.btn-ctx-dropdown{
					button{
						width: 100%;
						height: 46px;
						display: flex;
						align-items: center;
						font-size: 18px;
						margin: 0 0 12px 0;
						padding: 0 12px;
						border-radius: 8px;
						.txt{
							margin: 0 auto 0 12px;
						}
						.icon{
							margin: 0px;
						}
					}
				}
				.dropdown-ctx{
					ul{
						list-style: none;
						li{
							margin: 4px;
						}
					}
				}
				ol{
					list-style: none;

					li{
						margin: 12px 0;
					}
				}
			}

			.active-bg {
				pointer-events: none;

				&::after {
					content: attr(data-content);
					position: absolute;
					top: 40%;
					left: 40%;
					transform: translate(-40%, -40%);
					display: flex;
					justify-content: center;
					-webkit-text-stroke: .1rem #8c7db0;
					font-family: underwave, sans-serif;
					font-size: 9.6rem;
					text-transform: uppercase;
					text-wrap: nowrap;
					color: rgba(0, 0, 0, 0);
					opacity: .2;
				}
			}

			#add-library-form{
				display: flex;
				align-items: center;
				border-radius: 8px;
				background-color: #2b2a33;
				overflow: hidden;
				#library-name{
					width: 100%;
					margin: 0px;
				}
				button{
					display: block;
					width: max-content;
					min-width: 112px;
					height: 36px;
					font-size: 16px;
					margin: 0px 8px 0 0;
				}
				#cancel-library{
					min-width: max-content;
				}
			}
		}

		.sources-list{
			list-style: none;
			li{
				margin: 0 0 12px 0;
				.list-header{
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 24px;
					text-transform: capitalize;
					margin: 12px 0;
				}
			}
		}

		.settings-group, .sub-group {
			list-style: none;

			li {
				margin: 6px 0;
				button{
					&.active {
						margin: 12px 0;
						color: #fa1e4e;
						text-transform: uppercase;
					}
				}
			}

			button {
				cursor: pointer;
				font-family: underwave, sans-serif;
				font-size: 18px;
				text-transform: capitalize;
				margin: 2px 0;
				background-color: transparent;
			}
		}

		.settings-section {
			margin-bottom: 20px;
		}
		.settings-section h2 {
			margin-top: 0;
			margin-bottom: 8px;
		}

		.section-description {
			color: #777;
			margin-bottom: 15px;
		}

		.setting-item {
			margin-bottom: 10px;
			display: flex;
			justify-content: space-between;
		}

		.setting-label {
			display: block;
			font-weight: bold;
			text-transform: capitalize;
			margin-bottom: 4px;
		}

		.setting-description {
			color: #555;
			font-size: 0.9em;
			margin-bottom: 5px;
		}
		.setting-dropdown,
		.setting-text,
		.setting-number {
			padding: 8px;
			border-radius: 4px;
			border: 1px solid #ccc;
		}

		.setting-button,
		.setting-link,
		.setting-static {
			padding: 8px 12px;
			border-radius: 4px;
			border: 1px solid #ccc;
			cursor: pointer;
			text-decoration: none;
			color: black;
			display: inline-block;
		}

		.setting-link {
			background-color: transparent;
			border: none;
			color: blue;
			text-decoration: underline;
			cursor: pointer;

		}

		.setting-static {
			background-color: transparent;
			border: none;
			padding: 0;
		}


		.setting-list-container {
			border-radius: 5px;
			padding: 10px;
		}

		.setting-list-items {
			margin-bottom: 10px;
		}

		.setting-list-item {
			border-bottom: 1px dashed #eee;
			padding: 10px 0;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.setting-list-item:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.setting-list-item-text {
			flex-grow: 1;
			margin-right: 10px;
			padding: 6px;
			border: 1px solid #ccc;
			border-radius: 3px;
		}

		.setting-list-add-button,
		.setting-list-item-remove-button {
			padding: 6px 10px;
			border-radius: 4px;
			border: 1px solid #ccc;
			cursor: pointer;
			font-size: 0.9em;
		}

		.setting-list-item-remove-button {
			background-color: rgba(194, 9, 9, 0.375);
			border-color: #faa;
		}
	}
	&.delete-collection-dialog{
		.dialog{
			width: 400px;
			padding: 12px;
			border-radius: 4px;
			background-color: #25282e;
		}
		h3{
			margin: 0 0 4px 0;
		}
		.confirmation-btns{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 12px 0 0 0;

			input{
				margin: 0 6px 0 0;
			}
			lable{
				cursor: pointer;
			}
		}
		#confirmButton{
			font-size: 16px;
			text-align: left;
			text-transform: capitalize;
			padding: 10px;
			border-radius: 8px;
			background-color: #295b2abe;
			color: #deefef;
			margin: 0 12px 0 0;
			&:disabled{
				background-color: #7d322d9d;
			}
		}
		#cancelButton{
			font-size: 16px;
			text-align: left;
			text-transform: capitalize;
			padding: 10px;
			border-radius: 8px;
			padding: 10px 20px;
			background-color: #7d322d9d;
			color: #deefef;
		}
	}
}

#dlgCont {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.banner{
	width: 100%;
	height: calc(720px/2.5);
	margin: 0 0 12px 0;
}
.action-nav{
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 8px 0;
	background-color: #16181c;
	.status-button{
		height: 44px;
		aspect-ratio: 5/1;
		font-size: 24px;
		border-radius: 4px;
	}
	a{
		margin: 0 auto 0 6px;
	}
	.grouped-buttons{
		button{
			width: 40px;
			aspect-ratio: 1/1;
			border-radius: 4px;
			margin: 0 0 0 4px;
			font-size: 20px;
		}

		.more-info-button.active{
			transition: .1s all ease-in-out;
			background-color: #262731;
		}
		.favorite-button.active{
			transition: .1s all ease-in-out;
			color: red;
		}
	}
}
.links-ol{
	margin: 8px 0;
	padding: 8px;
	background-color: #343434;
	background-color: #292f3b;
	li{
		display: inline-block;
		font-size: 18px;
		margin: 0 12px 0 0;
		padding: 4px;
		&:hover{
			background-color: #3b3f45;
		}
	}
}
.tags-cont{
	height: max-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	span{
		margin: 0 2px 4px 0;
		background-color: #3b3f45;
		padding: 8px 8px 12px 8px;
		border-radius: 12px;
	}
}
.entry-info-dropdown {
	height: 0px;
	transition: .1s all ease-in-out;
	background-color: #262731;

	&.active {
		height: 250px;
	}
}
.entry-panel{
	display: flex;
	gap: 12px;

	.entry-content{
		flex: 90%;
	}
	.entry-aside{
		flex: 40%;

		& > div {
			margin: 12px 0;

			h3{
				text-transform: capitalize;
				margin-bottom: 6px;
			}
		}
	}

	.scores{
		display: flex;
	}

		.fd-tags {
			padding: 12px 12px 6px 12px;
			border: 1px solid #726d6d33;
			border-radius: 8px;

			span {
				background: #54a5d4;
				text-shadow: 1px 1px 2px #000000aa;
				color: #fff;
				display: inline-block;
				line-height: 19px;
				padding: 0 7px;
				color: #67c1f5;
				background-color: rgba(103, 193, 245, 0.2);
				box-shadow: none;
				border-radius: 2px;
				cursor: pointer;
				margin: 0 4px 6px 0;
				max-width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				&:hover {
					color: #ffffff;
					background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
				}
			}
		}
}
.flex-row {
	display: flex;
}
footer{
	display: none;
}

.equal {
	justify-content: space-between;

	&>div {
		flex: 50%
	}
}

.warn-text {
	color: #6b3732;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.shelfs {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 12px 0;

	button {
		margin: auto;
		font-size: 18px;
		padding: 8px 12px;
	}

	.add-shelf-container {
		width: 100%;
	}
}

.shelf-cont {
	width: 100%;
	font-size: 18px;

	button {
		font-size: 18px;
		padding: 8px 12px;
		margin-right: 12px;
	}

	.shelf-header {
		display: flex;

		.shelf-sort:last-child,
		.sort-by-dropdown:last-child {
			margin-left: 12px;
		}

		select {
			background-color: rgb(43, 42, 51);
		}

		.sort-cont {
			text-transform: uppercase;

			.name {
				margin-right: 12px;
			}
		}

		.sort-by-dropdown {
			height: 24px;
			font-size: 16px;
		}
	}
}

.choose-collection {
	display: none;

	&.active {
		display: block;
	}
}


.toggle-container {
	display: inline-block;
	position: relative;
}

.toggle-container input[type="checkbox"] {
	display: none;
}


.toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	background-color: #ccc;
	border-radius: 20px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.toggle-switch::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: white;
	top: 2px;
	left: 2px;
	transition: transform 0.3s;
}

.toggle-container input:checked+.toggle-switch {
	background-color: #4CAF50;
}

.toggle-container input:checked+.toggle-switch::before {
	transform: translateX(20px);
}