* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button{
	border: none;
	cursor: pointer;
}
#game-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 12px 12px 12px 0;
	.game-item {
		width: 600px;
		width: 200px;
		aspect-ratio: 2 / 3;
		background-color: #333c47;
		margin-left: 24px;
		margin-bottom: 12px;
		border-radius: 12px;
		padding: 12px;
		cursor: pointer;
	}
}
.game-library {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.game-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.game-item {
	width: 200px;
	height: 300px;
	background-color: #333c47;
	/*border: 1px solid #ccc;*/
	cursor: pointer;
	position: relative;
	&:hover{
		.edit_lib_entry{
			opacity: 100;
		}
	}
	transition: .2s all ease-in-out;
	.edit_lib_entry{
		transition: .2s all ease-in-out;
		position: absolute;
		top: 12px;
		right: 12px;
		border-radius: 12px;
		font-size: 18px;
		padding: 4px;
		opacity: 0;
	}
}

.game-item p {
	text-align: center;
	margin: 10px;
}

.game-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.popup-content {
	background-color: #333c47;
	margin: 100px auto;
	padding: 20px;
	width: 80%;
	max-width: 600px;
	display: grid;
	grid-template-areas: 'fdn fdrd' 'fdd fdd' 'fddev fdpub' 'fdg fdg' 'fdf fdf' 'fdt fdt' 'fdl fdl';
	grid-gap: 12px;
	align-items: center;

	.fd-name{
		grid-area: fdn;
		font-size: 32px;
		font-weight: bold;
	}
	.fd-description{
		grid-area: fdd;
	}
	.fd-developers{
		grid-area: fddev;
	}
	.fd-publishers{
		grid-area: fdpub;
	}
	.fd-releaseDate{
		grid-area: fdrd;
		text-align: right;
	}
	.fd-genres{
		grid-area: fdg;
	}
	.fd-features{
		grid-area: fdf;
	}
	.fd-tags{
		grid-area: fdt;
	}
	.fd-links{
		grid-area: fdl;
	}
	.fd-genres, .fd-features, .fd-tags{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		span{
			margin: 0 2px 4px 0;
			background-color: #181e26;
			padding: 8px 8px 12px 8px;
			border-radius: 12px;
		}
	}
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}
.library-sidebar {
	width: 375px;
	margin: 8px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto 1fr;
	grid-template-areas: "sbh" "ls" "fs" "cl";
	overflow: hidden;
	.sidebar-header {
		grid-area: sbh;
		display: flex;
		margin: 0 0 8px 0;
		button {
			height: 42px;
			border: none;
			cursor: pointer;
			font-size: 18px;
			&:last-child {
				margin-left: 8px;
			}
		}
		.library-home-btn {
			width: 100%;
		}
		.libary-collection-icon-btn {
			padding: 1px 2px;
			img {
				width: 40px;
			}
		}
	}
	.library-selection {
		grid-area: ls;
		display: flex;
		margin-bottom: 8px;
		.library-select {
			width: 100%;
			height: 42px;
			border: none;
			font-size: 18px;
			padding: 0 12px;
		}
		.sort-btn {
			width: 54px;
			height: 42px;
			border: none;
			cursor: pointer;
			margin-left: 4px;
			padding: 1px 2px;
		}
	}
	.filters-section {
		grid-area: fs;
		display: flex;
		background-color: rgb(43, 42, 51);
		input {
			width: 100%;
			height: 42px;
			border: none;
			font-size: 18px;
			padding: 0 12px;
			margin-right: 4px;
		}
		.filters-icon-btn {
			width: 54px;
			height: 42px;
			border: none;
			cursor: pointer;
			padding: 1px 2px;
		}
	}

	.collections-list {
		grid-area: cl;
		overflow-y: auto;
		margin: 12px 0;
		padding: 0 20px 0 0;
	}
}
.library-container {
	width: 100%;
	.new-feed {
		height: 200px;
		background: rgb(45, 51, 60);
		background: linear-gradient(180deg, #2d333c 0%, #181e26 100%);
	}
	h1 {
		margin: 0px;
	}
}
.library-container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	overflow: hidden;
	position: relative;
}
.game-item{
	position: relative;

	p{
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

html {
	min-height: 100vh;
	max-height: 100vh;
}
body {
	position: relative;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px;
	background-color: #171d25;
	grid-row: 1;
}
main {
	grid-row: 2;
}
footer {
	grid-row: 3;
	width: 100%;
	height: 60px;
	background-color: #171d25;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
.shelfs{
	display: flex;
	align-items: center;
	margin: 12px 0;
	button{
		margin: auto;
		font-size: 18px;
		padding: 8px 12px;
	}
}

.shelf-cont{
	width: 100%;
	font-size: 18px;

	button{
		font-size: 18px;
		padding: 8px 12px;
		margin-right: 12px;
	}
	.shelf-header{
		display: flex;

		.sort-cont{
			text-transform: uppercase;
			.name{
				margin-right: 12px;
			}
		}
	}
}